Flask==2.2.3
Flask-SQLAlchemy==2.5.1
Flask-Cors==6.0.2
SQLAlchemy==1.4.46
Werkzeug==2.3.8
Jinja2==3.1.5
MarkupSafe==3.0.2
click==8.1.8
itsdangerous==2.2.0
openpyxl==3.1.5
python-dotenv
psycopg2-binary
